footer.BgForest.Raleway.TextColorWhite
  .SmallContainer
    p
      | Todo el material en esta página es 
      a.TextColorWhite(href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer") CC-BY-SA
      | . Si reusas o adaptas recursos de esta página, por favor vincula y referencia nuestro artículo o sitio web.
    .TextCenter: img(src="assets/media/cc.png", alt="Creative Commons")